@use "vars" as *;

.site-header {
    border-bottom: 1px solid $gray_border_color;
    .site-header__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .site-header__logo {
        display: block;
        width: 115px;
        height: auto;
    }

    .site-header__contacts {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-left: auto;

        a {
            color: $black_color;
            font-family: $head_fonts;
            line-height: 1.2;

            &:hover {
                color: $main_color;
            }
        }
    }

    .site-header__menu {
        .menue_puncts_list {
            display: flex;
            align-items: center;
            gap: 14px;
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                font-size: 16px;
            }

            ul {
                display: none;
            }
        }
    }

    .sl_link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
            .sprite_icon {
                fill: $main_color;
            }
        }
    }

    .sprite_icon.__black {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 519px) {
    .site-header {
        .site-header__row {
            justify-content: flex-end;
        }

        .site-header__logo {
            width: 100px;
        }

        .site-header__menu,
        .site-header__email {
            display: none;
        }

        .site-header__contacts {
            gap: 10px;
        }

        .site-header__contacts .phone {
            font-size: 16px;
        }

        .sprite_icon.__black {
            width: 20px;
            height: 20px;
        }
    }
}
