@use '../vars' as *;

button,
.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    transition: $main_transition;
    display: inline-block;
    line-height: 1;
    font-family: $main_fonts;
    font-size: 16px;

    &__icon {
        display: inline-flex;
        gap:20px;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        .btn_icon {
            width:20px;
            height:20px;
        }
    }

    &__white {
        background-color: white;
        color: $black_color;
        border-color: $black_color;
        &:hover {
            background-color: $black_color;
            color: white;
        }
    }



    &:hover {
        background-color: $main_color;
        color: $black_color;
    }


}

